body {
  font-family: "Open Sans", sans-serif;
  color: #7581a1;
  font-size: 16px;
  line-height: 26px;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  font-weight: 600;
  color: #192b59;
  max-width: 550px;
  line-height: 87px;
  letter-spacing: -2.5px;
  margin-bottom: 52px;
}
.title-h2 {
  font-size: 50px;
  color: #192b59;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1.5px;
}
.title-h2 span {
  display: block;
  font-size: 14px;
  color: #1085e4;
  font-weight: 800;
  display: block;
  text-transform: uppercase;
  letter-spacing: 4.3px;
  margin-bottom: 16px;
}
.title-40 {
  font-size: 40px;
  letter-spacing: -1.2px;
  color: #192b59;
  font-weight: 600;
  line-height: 1.2;
}
.title-40 span {
  display: block;
  font-size: 18px;
  letter-spacing: 3.6px;
  color: #1085e4;
  font-weight: 800;
  display: block;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.page-stat .title-h2,
.page-screen .title-h2 {
  text-align: center;
  margin: 0 auto;
}
.page-stat .title-h2 {
  max-width: 500px;
}
.wrap {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 298px;
}
.logo {
  background-image: url(../img/header-logo.png);
  max-width: 182px;
  width: 100%;
  min-height: 49px;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  color: #6e7ea9;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav > li {
  padding: 0 20px;
}
.nav-item {
  letter-spacing: 2.3px;
  color: #6e7ea9;
}
.nav-modal {
  font-size: 12px;
  font-weight: 700;
  color: #6e7ea9;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
ul.nav-modal > li {
  margin-bottom: 15px;
}
.screen-img {
  background-image: url(../img/header-screen.png);
  background-repeat: no-repeat;
  max-width: 895px;
  width: 45%;
  min-height: 740px;
  position: absolute;
  top: 187px;
  right: 0px;
}
.list-company {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1110px;
  margin: 0 auto;
  padding: 105px 0 100px 0px;
  padding-right: 15px;
  padding-left: 15px;
}
/*.list-company-item {
  flex-basis: 20%;
}*/
.company-one {
  -ms-flex-preferred-size: 198px;
  flex-basis: 198px;
}
.company-two {
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
}
.company-three {
  -ms-flex-preferred-size: 201px;
  flex-basis: 201px;
}
.company-four {
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
}
.list-company-item span {
  display: block;
}
.company-one span {
  background-image: url(../img/sponsors-1.png);
  background-repeat: no-repeat;
  width: 198px;
  height: 58px;
}
.company-two span {
  background-image: url(../img/sponsors-2.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 69px;
}
.company-three span {
  background-image: url(../img/sponsors-3.png);
  background-repeat: no-repeat;
  width: 201px;
  height: 47px;
}
.company-four span {
  background-image: url(../img/sponsors-4.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 69px;
}
.btn-menu {
  border: none;
  background: none;
  display: none;
}
.btn-menu svg {
  width: 35px;
  height: 35px;
  fill: #192b59;
}
.btn-menu:focus {
  outline: none;
}
.btn-close {
  border: none;
  background: none;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  opacity: 0.5;
  color: #192b59;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-close:hover {
  opacity: 1;
}

.btn-close:focus {
  outline: none;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn-info {
  color: #8085b1;
  background-color: transparent;
  border: 1px solid #dce1e5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  letter-spacing: 2.3px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 150px;
  min-height: 60px;
  border-radius: 30px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 43px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 40px;
}
.btn-info:hover {
  background: #94b4cc;
  border: 1px solid #94b4cc;
  color: #fff;
}
.btn-primary {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  margin-right: 20px;
  letter-spacing: 2.3px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 150px;
  min-height: 60px;
  border-radius: 30px;
  font-size: 12px;
  background: #1085e4;
  border: 1px solid #1085e4;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0 43px;
}
.btn-primary:hover {
  background-color: transparent;
  color: #1085e4;
}
.btn-secondary {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  letter-spacing: 2.5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 183px;
  min-height: 60px;
  border-radius: 30px;
  font-size: 12px;
  background: #cbdbe8;
  border: 1px solid #cbdbe8;
  color: #7e8bae;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-secondary:hover {
  background: #fff;
}
.btn-free {
  font-weight: 400;
  max-width: 190px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}
.btn-subscribe {
  max-width: 190px;
  width: 100%;
  min-height: 50px;
  margin-right: 10px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 30px;
  width: 100%;
  max-width: 800px;
  right: 0;
  left: 0;
  padding: 30px 15px 30px 15px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
}
.grid h2 {
  font-size: 40px;
  font-weight: 700;
  color: #192b59;
  max-width: 300px;
}
.grid h2 span {
  font-size: 14px;
  color: #1085e4;
  display: block;
}
.grid-item {
  text-align: center;
  -webkit-box-shadow: 0px 5px 6px #f4f4f4;
  box-shadow: 0px 5px 6px #f4f4f4;
  max-width: 355px;
  padding: 44px 0 60px;
  border-radius: 10px;
}
.grid-item p {
  color: #7581a1;
  font-weight: 400;
}
.grid-item h3 {
  font-size: 20px;
  color: #192b59;
  font-weight: 600;
  margin: 0;
  margin-top: 38px;
  letter-spacing: -0.6px;
}

.grid-item a {
  font-size: 14px;
  font-weight: 600;
  color: #1085e4;
  margin: 0;
}
.grid-icon {
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  height: 92px;
  background-position: center;
}
.grid-icon-1 {
  background-image: url(../img/features-icons-1.png);
  background-size: 80px 82px;
}
.grid-icon-2 {
  background-image: url(../img/features-icons-2.png);
  background-size: 73px 79px;
}
.grid-icon-3 {
  background-image: url(../img/features-icons-3.png);
  background-size: 89px 85px;
}
.grid-icon-4 {
  background-image: url(../img/features-icons-4.png);
  background-size: 102px 92px;
}
.grid-icon-5 {
  background-image: url(../img/features-icons-5.png);
  background-size: 85px 90px;
}
.grid-icon-6 {
  background-image: url(../img/features-icons-6.png);
  background-size: 102px 87px;
}
.grid {
  display: grid;
  grid-template-areas:
    "a c d"
    "b c d"
    "b f g"
    "e f g"
    "e h h";
  max-width: 1110px;
  grid-gap: 35px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.grid-title {
  grid-area: a;
}
.grid-item-1 {
  grid-area: b;
}
.grid-item-2 {
  grid-area: c;
}
.grid-item-3 {
  grid-area: d;
}
.grid-item-4 {
  grid-area: e;
}
.grid-item-5 {
  grid-area: f;
}
.grid-item-6 {
  grid-area: g;
}
.grid-text {
  grid-area: h;
  margin-left: 22px;
}
.grid-text p {
  color: #7581a1;
  font-weight: 600;
}
.grid-text > p > span {
  color: #192b59;
  font-weight: 600;
}
.grid-text > .grid-text-p {
  color: #1085e4;
}
.box-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
.page-subscribe {
  font-size: 14px;
}
.page-subscribe h2 {
  font-size: 50px;
  color: #fff;
  letter-spacing: -1.5px;
  text-transform: capitalize;
  font-weight: 600;
}
.page-subscribe span {
  font-size: 14px;
  color: #1085e4;
  display: block;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 31px;
  letter-spacing: 2.7px;
}
.page-subscribe p {
  font-size: 17px;
  font-weight: 400;
  color: #dfe8ff;
  max-width: 440px;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}
.page-subscribe button {
  position: absolute;
  right: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: #1085e4;
}
.subscribe-img {
  max-width: 355px;
}
.box-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: 2px solid #4164b6;
  border-radius: 35px;
  -ms-flex-preferred-size: 540px;
  flex-basis: 540px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* width: 100%; */
  height: 65px;
}
.box-title-subscribe {
  -ms-flex-preferred-size: 540px;
  flex-basis: 540px;
}
.email-subscribe {
  font-size: 14px;
  background: none;
  max-width: 540px;
  width: 100%;
  height: 30px;
  border: none;
  height: 65px;
  border-radius: 35px;
  padding: 0 210px 0 36px;
}
.email-subscribe:focus {
  outline: none;
}
.email-subscribe input::-webkit-input-placeholder {
  color: #b1c3ee;
}
.email-subscribe input::-moz-placeholder {
  color: #b1c3ee;
}
.email-subscribe input:-moz-placeholder {
  color: #b1c3ee;
}
.email-subscribe input:-ms-input-placeholder {
  color: #b1c3ee;
}

.page-software-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.page-software-flex > div {
  -ms-flex-preferred-size: 55%;
  flex-basis: 55%;
}
.page-software-icon {
  display: block;
  background-image: url(../img/grad-icons.png);
  background-repeat: no-repeat;
  background-position: -12px -5px;
  width: 102px;
  height: 98px;
}
.page-software h2 {
  font-size: 50px;
  color: #192b59;
  font-weight: 600;
  text-transform: capitalize;
  max-width: 565px;
  line-height: 60px;
  letter-spacing: -1.4px;
  margin: 0;
  margin-bottom: 25px;
}
.page-software p {
  font-size: 16px;
  font-weight: 600;
  color: #7581a1;
  letter-spacing: -0.3px;
  margin: 0;
  margin-bottom: 10px;
}
.page-software-list {
  height: 380px;
  overflow: hidden;
  overflow-y: scroll;
}

/************SCROLLBAR*********************/
::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #e6e9f3;
}
::-webkit-scrollbar-track {
  background-color: #1085e4;
}
::-webkit-scrollbar-track-piece {
  background-color: #f3f6ff;
}
::-webkit-scrollbar-thumb {
  height: 5px;
  background-color: #1085e4;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #f3f6ff;
}
::-webkit-resizer {
  background-color: #f3f6ff;
}

.page-software dt {
  font-weight: 700;
  color: #5a6789;
  margin: 20px 0 40px;
  padding: 0;
}
.page-software dl {
  font-weight: 700;
  color: #7581a1;
  margin: 0;
}
.page-software dd {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.content-app {
  width: 55%;
}
.content-app h2 {
  margin-bottom: 37px;
}
.content-app p {
  margin-left: 5px;
}
.page-app-text {
  padding: 0;
  margin: 29px 0 20px 0;
  font-size: 16px;
  font-weight: 700;
  color: #c4d2dd;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}
.page-app-list {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
}
.page-app-list > li > a {
  display: block;
  background-image: url(../img/app.png);
  background-repeat: no-repeat;
  width: 185px;
  height: 80px;
}
.page-app-android {
  background-position: 0 0;
}
.page-app-ios {
  background-position: -185px 0;
}
.page-app-play {
  position: absolute;
  top: -60px;
  right: -167px;
}
.box-analytics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.page-analytics-vacansy {
  position: relative;
}
.img-analytics {
  position: absolute;
  top: 36px;
  left: -525px;
}
.content-analytics {
  width: 55%;
}
.content-analytics h2 {
  margin-top: 3px;
  margin-bottom: 28px;
}
.content-analytics p {
  margin-bottom: 36px;
}
.analytics-icon {
  margin-left: -10px;
}
.content-analytics2 {
  width: 55%;
}
.content-analytics2 h2 {
  margin: 0;
}
.content-analytics2 p {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 38px;
}
.page-analytics2-control {
  position: absolute;
  top: 143px;
  right: 244px;
}
.page-stat li {
  font-size: 14px;
  color: #1085e4;
  display: block;
}
.list-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 75px;
}
.list-stat > li {
  font-size: 12px;
  color: #1085e4;
  margin: 0 0 0 0;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  letter-spacing: 2.8px;
}
.list-stat > li > span {
  font-size: 57px;
  color: #bacbdc;
  display: block;
  margin-bottom: 22px;
  font-weight: 700;
}
.screen {
  margin-top: 38px;
  margin-bottom: -7px;
  width: 100%;
  max-width: 1288px;
}
.page-clients .title-40 {
  color: #fff;
  margin-bottom: 63px;
}
.page-clients .title-40 span {
  color: #85c8ff;
}
.box-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box-clients-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 42px;
  -webkit-box-shadow: 0px 5px 6px #f4f4f4;
  box-shadow: 0px 5px 6px #f4f4f4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
  font-size: 14px;
}
.box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 25px 0 20px 0px;
}
.box-info > div {
  margin-left: 18px;
}
.box-clients-item .name {
  font-size: 22px;
  font-weight: 600;
  color: #000958;
  letter-spacing: -0.6px;
  margin: 0;
}
.box-clients-item .position {
  font-weight: 700;
  color: #1085e4;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin: 0;
}
.box-prise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 85px 0 0 0;
}
.box-prise-item {
  background: #f5faff;
  padding: 89px 55px 80px;
  /* max-width: 240px; */
  /* width: 100%; */
  position: relative;
  -ms-flex-preferred-size: 21%;
  flex-basis: 21%;
}
.box-prise-item:first-child h3 {
  margin-bottom: 35px;
}
.box-prise-item::after {
  content: "";
  position: absolute;
  top: 0;
  width: 58px;
  height: 99%;
  right: 0;
  background-image: url(../img/triang-psev.svg);
}
.box-prise-item.active::after {
  display: none;
}
.box-prise-item.active {
  background: #192b59;
  color: #fff;
}
.box-prise-item.active > a {
  margin-top: 40px;
}
.box-prise-item ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.box-prise-item h3 {
  font-size: 70px;
  font-weight: 700;
  color: #000958;
  letter-spacing: -1.8px;
  margin: 0;
}
.box-prise-item h3 span {
  font-size: 20px;
}
.box-prise-item.active h3,
.box-prise-item.active p,
.box-prise-item.active li {
  color: #fff;
}
.box-prise-item p {
  font-size: 14px;
  font-weight: 800;
  color: #0084ff;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  padding: 0px 0 10px 0;
}
.box-prise-item strong {
  font-weight: 600;
}
.box-prise-item li {
  color: #8085b1;
  line-height: 2.9;
  font-size: 14px;
}
.page-team .title-40 {
  color: #fff;
  margin-bottom: 143px;
}
.page-team .title-40 span {
  color: #85c8ff;
}
.box-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.box-team-item {
  background-color: #fff;
  -ms-flex-preferred-size: 31.5%;
  flex-basis: 31.5%;
  -webkit-box-shadow: 0px 5px 6px #f4f4f4;
  box-shadow: 0px 5px 6px #f4f4f4;
  position: relative;
  padding: 190px 31px 33px 31px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.avatar {
  position: absolute;
  top: -89px;
  left: 34px;
}
.box-team-item .position {
  font-size: 14px;
  font-weight: 800;
  color: #1a88e1;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin: 13px 0 10px 0;
}
.box-team-item .name {
  font-size: 26px;
  font-weight: 600;
  color: #192b59;
  letter-spacing: -0.6px;
  margin: 0;
  margin-bottom: 26px;
}
.box-team-item .btn-team {
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100%;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.box-team-item .btn-team:hover {
  background-color: #1a88e1;
}
.box-team-item .btn-team span {
  background-image: url(../img/btn-team.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  -ms-flex-item-align: center;
  align-self: center;
}
.box-team-item .btn-more span {
  background-position: -6px -10px;
  width: 20px;
  height: 20px;
}
.box-team-item .btn-more:hover span {
  background-position: -6px -38px;
}
.box-team-item .btn-more:focus {
  outline: none;
}
.social-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.box-team-item .btn-fb span {
  background-position: -38px -11px;
  width: 14px;
  height: 20px;
}
.box-team-item .btn-fb:hover span {
  background-position: -38px -39px;
}
.box-team-item .btn-tw span {
  background-position: -62px -11px;
  width: 20px;
  height: 20px;
}
.box-team-item .btn-tw:hover span {
  background-position: -62px -39px;
}
.box-team-item .btn-be span {
  background-position: -96px -11px;
  width: 20px;
  height: 20px;
}
.box-team-item .btn-be:hover span {
  background-position: -96px -39px;
}
.box-team-item .btn-web span {
  background-position: -126px -11px;
  width: 20px;
  height: 20px;
}
.box-team-item .btn-web:hover span {
  background-position: -126px -39px;
}
.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1015px;
  margin: 0 auto;
}
.flex-form > div {
  -ms-flex-preferred-size: 51%;
  flex-basis: 51%;
}
.flex-form > img {
  margin-right: 81px;
}
.page-form h2 {
  margin: 0 0 50px;
}
.contact-form input,
.contact-form textarea {
  font-size: 14px;
  border: 2px solid #dce4ec;
  border-radius: 35px;
  padding: 25px 90px 25px 40px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}
.contact-form textarea {
  min-height: 160px;
  resize: none;
}

.contact-form-item {
  margin-bottom: 20px;
  position: relative;
}
.contact-form-item::after {
  content: "";
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  right: 40px;
}
.contact-form-name::after {
  background-image: url(../img/form-name.png);
  width: 13px;
  height: 15px;
  top: calc(50% - 7px);
}
.contact-form-mail::after {
  background-image: url(../img/form-mail.png);
  width: 14px;
  height: 11px;
  top: calc(50% - 5px);
}
.contact-form-text::after {
  background-image: url(../img/form-text.png);
  width: 14px;
  height: 15px;
  top: 30px;
}
.contact-form .btn-primary {
  max-width: 230px;
  position: relative;
  padding-left: 70px;
  margin-top: 15px;
}
.contact-form .btn-primary::before {
  content: "";
  background-image: url(../img/form-btn.png);
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  top: calc(50% - 7px);
  left: 51px;
}
.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: #8995b3;
}
.contact-form input::-moz-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: #8995b3;
}
.contact-form input:-moz-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: #8995b3;
}
.contact-form input:-ms-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: #8995b3;
}
.box-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.box-footer p {
  margin: 0;
  color: #b6bae0;
}
.box-footer > p > a {
  color: #1085e4;
  text-transform: uppercase;
}
.social {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn-social {
  background-repeat: no-repeat;
  display: block;
  margin-left: 25px;
}
.social-fb {
  background-image: url(../img/social-fb.png);
  background-position: 0px 1px;
  width: 9px;
  height: 17px;
}
.social-fb:hover {
  background-position: 0px -21px;
}
.social-tw {
  background-image: url(../img/social-tw.png);
  background-position: 0px 1px;
  width: 16px;
  height: 17px;
}
.social-tw:hover {
  background-position: 0px -21px;
}
.social-be {
  background-image: url(../img/social-be.png);
  background-position: 0px 1px;
  width: 18px;
  height: 17px;
}
.social-be:hover {
  background-position: 0px -21px;
}
.social-pe {
  background-image: url(../img/social-pe.png);
  background-position: 0px 1px;
  width: 16px;
  height: 17px;
}
.social-pe:hover {
  background-position: 0px -21px;
}
.social-fa {
  background-image: url(../img/social-fa.png);
  background-position: 0px 1px;
  width: 14px;
  height: 17px;
}
.social-fa:hover {
  background-position: 0px -21px;
}
/* PAGE */

.page-header {
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 0 305px;
  position: relative;
}
.page-company {
  background-image: url(../img/bg-company.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.page-subscribe {
  padding: 51px 0;
  background: rgba(10, 32, 144, 1);
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(10, 32, 144, 1)),
    color-stop(100%, rgba(35, 120, 205, 1))
  );
  background: -o-linear-gradient(
    315deg,
    rgba(10, 32, 144, 1) 0%,
    rgba(35, 120, 205, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(10, 32, 144, 1) 0%,
    rgba(35, 120, 205, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}
.page-stat,
.page-screen {
  background-color: #edf6ff;
}
.page-stat {
  padding: 120px 0 95px 0;
  position: relative;
}
.object-circle {
  position: absolute;
  bottom: -263px;
  left: 0;
  background-image: url(../img/circle-gray.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 489px;
  height: 663px;
}
.object-rhombus {
  position: absolute;
  top: -208px;
  right: 0;
  background-image: url(../img/rhombus-gray.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 561px;
  height: 680px;
}
.page-screen,
.page-plan {
  text-align: center;
}
.page-plan {
  margin-bottom: 126px;
}
.page-screen {
  padding: 85px 0 0 0;
  padding-left: 15px;
  padding-right: 15px;
}
.page-grid {
  padding: 120px 0 120px 0;
}
.page-software {
  padding: 120px 0 145px;
  background-image: url(../img/bg-software.png);
  background-repeat: no-repeat;
  background-position: -744px 44px;
  position: relative;
}
.grad-notebook {
  position: absolute;
  max-width: 931px;
  width: 59%;
  height: 802px;
  bottom: 83px;
  left: 0px;
  background-image: url(../img/grad-notebook.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -200px 0;
}

.page-app {
  padding: 70px 0 83px;
}
.page-app .wrap {
  position: relative;
}
.intro {
  color: rgb(0, 0, 0, 0.04);
  font-size: 300px;
  font-weight: 900;
  line-height: 0;
  letter-spacing: -9px;
  position: absolute;
  right: 0;
  left: 0;
  top: 38px;
  margin: 0;
  text-align: center;
}
.page-analytics {
  background-image: url(../img/bg-analytics.png);
  background-repeat: no-repeat;
  padding: 128px 0 120px;
  background-position: -180px;
  background-size: cover;
}
.page-analytics2 {
  background-image: url(../img/bg-analytics-2.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 126px 0 116px;
  background-size: cover;
  position: relative;
}
.page-clients {
  background-image: url(../img/bg-clients.png);
  background-repeat: no-repeat;
  background-position: left;
  padding: 167px 0 81px;
  position: relative;
}
.page-team {
  background-image: url(../img/bg-taem.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 82px 0 121px;
  position: relative;
}
.page-form {
  background-image: url(../img/bg-form.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 108px 0 118px;
  padding-right: 15px;
  padding-left: 15px;
}
.footer {
  background-color: #192b59;
  padding: 25px 0;
}

/* MEDIA */
@media (max-width: 1500px) {
  .page-app-play {
    width: 400px;
    height: 372px;
    top: 0;
    right: 0;
  }
  .screen-img {
    background-size: cover;
  }
  .page-analytics2-control {
    right: 100px;
  }
  .page-software {
    background-position: -850px 44px;
  }
}
@media (max-width: 1300px) {
  .page-software {
    background-position: -945px 44px;
  }
}
@media (max-width: 1200px) {
  .page-software {
    background-position: -945px 44px;
  }
  .page-analytics {
    background-position: -300px;
  }
  .img-analytics {
    left: -490px;
  }
  .page-analytics2-control {
    right: 20px;
  }
}
@media (max-width: 1100px) {
  .page-header {
    padding: 50px 0 255px;
  }
  .box-header {
    margin-bottom: 150px;
  }
  .nav {
    display: none;
  }
  .screen-img {
    display: none;
  }

  .btn-menu {
    display: block;
  }
  .content-header h1 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .btn-group {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .list-company-item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 50px;
  }
  .list-company-item span {
    margin: 0 auto;
  }
  .list-company {
    padding: 0 30px;
  }
  .page-company {
    padding: 80px 0 30px 0px;
  }
  .grid {
    grid-template-areas:
      "a a"
      "d c"
      "f b"
      "e g"
      "h h";
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .grid h2 {
    text-align: center;
    margin: 0 auto;
  }
  .box-subscribe {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .box-title-subscribe {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
  }
  .page-subscribe p {
    margin: 0 auto;
  }
  .box-email {
    margin: 30px 0;
  }
  .subscribe-img {
    margin: 0 auto;
    max-width: 200px;
  }
  .page-software {
    background: none;
  }
  .page-software::after {
    display: none;
  }
  .page-software-flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .page-software-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .page-app {
    padding: 285px 0 83px;
  }
  .page-app-play {
    top: -280px;
    right: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 233px;
    padding-left: 50px;
  }
  .content-app {
    width: 55%;
    margin: 0 auto;
    text-align: center;
  }
  .page-app-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .page-analytics {
    background-position: -500px;
  }
  .img-analytics {
    display: none;
  }
  .page-analytics2 {
    padding-left: 60px;
  }
  .page-analytics2-control {
    display: none;
  }
  .page-software-flex > div {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
  }
  .grad-notebook {
    display: none;
  }
  .content-app {
    width: 100%;
  }
  .page-clients {
    background-position: left 134px;
    text-align: center;
  }
  .box-clients {
    justify-content: center;
  }
  .box-clients-item {
    flex-basis: 90%;
    margin-top: 30px;
  }
  .box-info {
    justify-content: flex-start;
  }
  .box-prise {
  }
  .box-prise-item {
    flex-basis: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 20px;
  }
  .box-prise-item > .btn-info {
    margin: 0 auto;
  }
  .box-prise-item > .btn-primary {
    margin: 0 auto;
  }
  .page-team {
    background: #1a88e1;
  }
  .avatar {
    position: relative;
    top: -25px;
    left: 0px;
    margin: 0 auto;
    display: block;
  }
  .box-team {
    justify-content: center;
  }
  .box-team-item {
    flex-basis: 100%;
    margin: 30px 10px;
    padding: 180px 31px 33px 31px;
    max-width: 500px;
  }
}
@media (max-width: 1000px) {
  .intro {
    display: none;
  }
  .flex-form {
    justify-content: center;
    text-align: center;
  }
  .flex-form > div {
    flex-basis: 100%;
  }
  .flex-form > img {
    display: none;
  }
  .contact-form > button {
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  .list-stat {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
  }
  .list-stat li {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;

    margin-bottom: 50px;
  }
  .page-analytics {
    background: none;
    padding: 100px 0 120px;
  }

  .analytics-icon {
    margin: 0 auto;
  }
  .content-analytics {
    width: 100%;
    text-align: center;
  }
  .content-analytics a {
    margin: 0 auto;
  }
  .page-analytics2 {
    background: none;
    padding: 100px 0 116px;
  }
  .content-analytics2 {
    width: 100%;
    text-align: center;
  }
  .content-analytics2 a {
    margin: 0 auto;
  }
  .page-plan {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .btn-primary {
    min-height: 50px;
    max-width: 250px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 10px;
  }
  .btn-secondary {
    min-height: 50px;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    font-size: 10px;
  }
}
